# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Tim Jenness <tjenness@cpan.org> Tim Jenness <tim.jenness@gmail.com>
David Golden <dagolden@cpan.org> <xdg@xdg.me>
Slaven Rezic <srezic@cpan.org> <slaven.rezic@idealo.de>
Slaven Rezic <srezic@cpan.org> <slaven@rezic.de>
