Ben Tilly <btilly@gmail.com>
David Golden <dagolden@cpan.org>
David Steinbrunner <dsteinbrunner@pobox.com>
Ed Avis <eda@linux01.wcl.local>
James E. Keenan <jkeen@verizon.net>
Karen Etheridge <ether@cpan.org>
Kevin Ryde <user42@zip.com.au>
Olivier Mengue <dolmen@cpan.org>
Peter John Acklam <pjacklam@online.no>
Peter Rabbitson <ribasushi@cpan.org>
Tim Jenness <tjenness@cpan.org> <t.jenness@jach.hawaii.edu>
Tim Jenness <tjenness@cpan.org> <tim.jenness@gmail.com>
