Ben Tilly <btilly@gmail.com>
David Golden <dagolden@cpan.org>
Ed Avis <eda@linux01.wcl.local>
James E. Keenan <jkeen@verizon.net>
Kevin Ryde <user42@zip.com.au>
Peter John Acklam <pjacklam@online.no>
Tim Jenness <tjenness@cpan.org> <t.jenness@jach.hawaii.edu>
Tim Jenness <tjenness@cpan.org> <tim.jenness@gmail.com>
